<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <div id="login">
            <h1>LOGIN</h1>
            <form action="/login/" method="post">
                <label for="login-username">Username:</label>
                <input type="text" id="login-username" name="login-username-value">
                </br>
                <label for="login-password">Password:</label>
                <input type="text" id="login-password" name="login-password-value">
                </br>
                <button type="submit" id="login-button">Login</button>
            </form>
        </div>
        </br>
        <div id="register">
            <h1>REGISTER</h1>
            <form action="/register/" method="post">
                <label for="register-username">Username:</label>
                <input type="text" id="register-username" name="register-username-value">
                </br>
                <label for="register-password">Password:</label>
                <input type="text" id="register-password" name="register-password-value">
                </br>
                <button type="submit" id="register-button">REGISTER</button>
            </form>
        </div>
    </body>
</html>
